body {
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.container {
  border: solid 1px black;
  background: #ccc;
  overflow: hidden; /* can also be "auto" */
}

.el-1, .el-2 {
  float: left;
  width: 50%;
  padding: 1.3em;
}

.el-1 {
  /* styles for .el-1 here */
}

.el-2 {
  /* styles for .el-2 here */
}

.main {
  font-weight: bold;
}